<%- include('header.ejs'); -%>







<div class="box">
  
    <script>
      function disableButton() {
          document.getElementById("myLibraryButton").disabled = true; //Disabling button once its clicked
      }
    </script>


    <div class="addBook"> 
      <form class="formAdd" action="/add" method="post"></form>
        <!-- <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus="true" /> -->
        <button class="addButton" type="submit" name="list" >Add Book</button>
      </form>
    </div>


    <div class="myLibrary"> 
      <form class="formLibrary" action="/myLibrary" method="get">
        <button id= "myLibraryButton", class="myLibraryButton" type="submit" name="list" onclick="disableButton()">My Library</button>    
          <% if (listBooks.length > 0) { %>
          <ul>
            <% for (let i = 0; i < listBooks.length; i++) { %>
              <li><%= listBooks[i].title %> by <%= listBooks[i].author %></li>
            <% } %>
          </ul>
         <% } %>
       
      </form>
    </div>
    


      
</body>
<%- include('footer.ejs'); -%>

 