<%- include('header.ejs'); -%>



<div class="box">
  
    <!-- <script>
      function disableButton() {
          document.getElementById("myLibraryButton").disabled = true; //Disabling button once its clicked
      }
    </script> -->


    <div class="addBook"> 
     
      <form class="formAdd" action="/" method="get">
        <button class="addButton" type="submit" name="list" onclick="addBook()">Add Book</button>
       
        <div class="row">

          <div class="column">
            <input id= "title-input" type="text" name="title" placeholder="Book Title" autocomplete="off" autofocus="true" class="hidden"/><br>
            <input id= "author-input" type="text" name="author" placeholder="Author" autocomplete="off" autofocus="true" class="hidden" /><br>
            <input id= "recency-input" type="text" name="recency" placeholder="Recency" autocomplete="off" autofocus="true" class="hidden"/><br>
         </div>

          <div class="column">
            <input id= "type-input" type="text" name="type" placeholder="Genre" autocomplete="off" autofocus="true" class="hidden" /><br>
            <label for="status" ></label>
              <select id= "status-input" name="completed" class="hidden">
                <option value="true">Completed</option>
                <option value="false">Not Completed</option>
              </select><br>
            
            <label for="status"></label>
            <select id= "rating-input" name="rating" class="hidden">
              <option value="Bad">1 (Bad)</option>
              <option value="Not that good">2 (Not good)</option>
              <option value="Ok">3 (Just OK)</option>
              <option value="Very Good">4 (Very good)</option>
              <option value="Excellent">5 (Must)</option>
            </select><br>
          </div>
        </div>
        
        <div class="submitAdd" >
          <form class="formAdd" action="/add" method="post" onsubmit="return onSubmitForm()">
          <button id= "benjamin-button" class="hidden" type="submit">Submit</button>
        </div>
      </form>
      </form>
    </div>


    <div class="myLibrary"> 
      <form class="formLibrary" action="/myLibrary" method="get">
        <button id= "myLibraryButton", class="myLibraryButton" type="submit" name="list">My Library</button>    
        <!-- <% if (myLibraryButtonClicked) { %> -->
          <ul>
            <% for (let book of listBooks) { %>
              <li><%= book.title %> by <%= book.author %></li>
            <% } %>
        <!-- <% } %> -->
          </ul>
         
      </form>
    </div>
    
    <script>
      function addBook() {
        const hiddenInputs = document.querySelectorAll('.formAdd .hidden ');
        hiddenInputs.forEach(input => {
          input.classList.toggle('visible');
        });
      }

      function onSubmitForm() {
    if (!benjaminButtonClicked) {
      // Prevent default form submission
      event.preventDefault();
      // Call your custom function
      addBook();
    }
  }
    </script>

      
</body>
<%- include('footer.ejs'); -%>

 