<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css" />
    <title>My Books Library</title>
</head>

<body class="body-library-archive">
  <a href="/" class="return-button">Return to Home</a>

  <div class="counter-box">
    <span id="book-counter"><%= listBooks.length  %></span> books read
  </div>

    <div class="box-archive">

        <h1 class="archive-h1"> My Library</h1>

        <!-- <div class="row-archive">
         <div class="column-archive"> -->

           <div id ="my-library-archive-bg-box" class = "visible">
            <input type="text" id="search-input" placeholder="Search..." oninput="searchBooks(this.value)">
            <ul id="search-suggestions"></ul>

              <% var startIndex = Math.max(0, listBooks.length - 5); %>
                        <% for (let i = startIndex; i < listBooks.length; i++) { %>
                            <div class="my-library-archive-books-box">
                        <%= listBooks[i].title %> by <%= listBooks[i].author %>
                      </div>
                <% } %>
              
            </div>

            <% if (listBooks.length > 5) { %>
                 <button id="show-more-button" type="button" onclick="showMoreBooks()">Show More</button>
          <% } %>
          </div>
        </div>
    </div>
    <script>
      // function showMoreBooks() {
      //                   var nextIndex = Math.max(0, listBooks.length - startIndex);
      //                   for (let i = nextIndex; i < listBooks.length; i++) { 
      //                       <div class="my-library-archive-books-box">
      //                   listBooks[i].title by listBooks[i].author 
      //                 </div>
      // }}
      document.addEventListener("DOMContentLoaded", function() {

      function updateBookCounter() {
        var counterElement = document.getElementById("book-counter");
        counterElement.textContent = listBooks.length;
}
  updateBookCounter();
});

    </script>
</body>


<%- include('footer.ejs'); -%>
