<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css" />
    <title>My Books Library</title>
</head>

<body class="body-library-archive">
    <div class="box-archive">
        <h1 class="archive-h1"> My Library</h1>

        <div class="row">
         <div class="column">

           <div id ="my-library-archive-bg-box" class = "visible">
            <% for (let i = 0; i < Math.min(listBooks.length, 1); i++) { %>
                  <% for (let book of listBooks) { %>
                       <div class="my-library-archive-books-box">
                  <%= book.title %> by <%= book.author %>
                       </div>
                <% } %>
              <% } %>
            </div>

            <% if (listBooks.length > 5) { %>
              <!-- Render link or button to the second page here -->
              <a href="/secondPage" class="link-to-second-page">Next Page</a>
          <% } %>
          </div>
        </div>
    </div>
</body>


<%- include('footer.ejs'); -%>
