.my-library-archive-bg-box{
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    width: 100%; /* Occupies the entire width of the row */
    max-width: 100%;
    background-color: #181818;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border: none; /* Remove the border */
    border-radius: 5px;
    color: white;
}