html {
  background: linear-gradient(300deg, rgb(46, 45, 48), #41444B, #DFD8C8);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.container-feature{
  background: linear-gradient(300deg, #41444B, #52575D, #DFD8C8, #CABFAB);
  background-size: 180% 180%;
  animation: gradient-animation2 18s ease infinite;
}

@keyframes gradient-animation2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  border-radius: 5px;
  padding: 20px; /* Add padding for content inside the box */
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 10px;
  color: white; /* Set the text color of the footer */
}


/* Main buttons (Add Book & My Library) */

  .addButton, .myLibraryButton{
    max-width: 100%;
    width: 100%;
    margin: 10px 0; /* Adjust the top and bottom margin */
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: none; /* Remove the border */
    box-shadow: 8px 14px 16px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: box-shadow 0.3s ease; /* Add transition for a smoother effect on hover or focus */
    color: white;
    background-color: #0A1D56 ;
    

  }

  .addButton:hover,
  .myLibraryButton:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: rgba(43, 117, 253, 0.863); /* Semi-transparent blue background on hover */
  }

  .hidden {
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s, height 0.5s;
  }

  .visible {
    display: block;
    opacity: 1;
    height: auto;
  

  }


/* Styling for Add Book form display*/

  .row {
    display: flex;
    justify-content: space-between;
  }

  .column {
    flex: 1;
  }


  #benjamin-button {
    width: 100%; /* Occupies the entire width of the row */
    background-color: #216303;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border: none; /* Remove the border */
    border-radius: 5px;
    color: white;
  }

  #benjamin-button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: rgba(54, 245, 7, 0.7); /* Semi-transparent blue background on hover */
  }

  #title-input, #author-input, #recency-input, #type-input, #status-input, #rating-input  {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border: none; /* Remove the border */
    border-radius: 3px;
    background-color: rgb(213, 224, 233);
  }


/* Styling for myLibrary display*/

  #close-my-library-button{
    width: 100%; /* Occupies the entire width of the row */
    background-color: #630303;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border: none; /* Remove the border */
    border-radius: 5px;
    color: white;
  }

  #close-my-library-button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: rgba(231, 4, 4, 0.7); /* Semi-transparent blue background on hover */
  }


/* MyLibrary BookList Background box */

#mylibrary-bg-box{
  width: 100%; /* Occupies the entire width of the row */
  background-color: #8a8a8a;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border: none; /* Remove the border */
  border-radius: 5px;
  color: white;
}