html {
  background: linear-gradient(300deg, rgb(46, 45, 48), #41444B, #DFD8C8);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.container-feature{
  background: linear-gradient(300deg, #41444B, #52575D, #DFD8C8, #CABFAB);
  background-size: 180% 180%;
  animation: gradient-animation2 18s ease infinite;
}

@keyframes gradient-animation2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Courier New";
  color: rgb(221, 221, 221);

}

.box {
  max-width: 400px;
  margin: 50px auto;
  border-radius: 5px;
  padding: 20px; 
  color: rgb(221, 221, 221);

}

footer {
  margin-top: auto;
  text-align: center;
  padding: 10px;
  color: white; 
  font-size: small;
}


/* Main buttons (Add Book & My Library) */

  .addButton, .myLibraryButton{
    max-width: 100%;
    width: 100%;
    margin: 10px 0; 
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: none; 
    box-shadow: 8px 14px 16px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
    color: white;
    background-color: #141414 ;
    font-family: "Courier New";
    font-size: medium;

  }

  .addButton:hover,
  .myLibraryButton:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: rgb(33, 19, 94);   
  }

  .hidden {
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s, height 0.5s;
  }

  .visible {
    display: block;
    opacity: 1;
    height: auto;
  }

  .icon{
     max-width: 100%;
     height: 12px;
     width: 12px;
     margin: 0px 0
  }


/* Styling for Add Book form display*/

  .row {
    display: flex;
    justify-content: space-between;
  }

  .column {
    flex: 1;
  }


  #benjamin-button {
    width: 100%; 
    background-color: #216303;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border: none; 
    border-radius: 5px;
    color: white;
    font-family: "Courier New";
  }

  #benjamin-button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: rgba(54, 245, 7, 0.7); 
  }

  #title-input, #author-input, #recency-input, #type-input, #status-input, #rating-input  {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border: none; 
    border-radius: 3px;
    background-color: rgb(77, 77, 77);
    font-family: "Courier New";
    color: rgb(197, 197, 197);
    
  }


  ::placeholder {
    color: rgb(197, 197, 197);
}

/* Styling for myLibrary display*/

  #go-to-library-button{
    width: 100%; 
    background-color: #630303;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border: none; 
    border-radius: 5px;
    color: white;
    font-family: "Courier New";
    margin-bottom: 10px;
  }

  #go-to-library-button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: rgba(231, 4, 4, 0.7); 
  }


/* MyLibrary BookList Background box */

#mylibrary-bg-box{
  
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  max-width: 100%;
  background-color: #181818;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border: none; 
  border-radius: 5px;
  color: white;

}

#mylibrary-books-box{
  width: 97%; 
  max-width: 100%;
  background-color: #353535;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border: none; 
  border-radius: 5px;
  color: white;
  padding: 2px;
  margin: 3px 0; 
  font-family: "Courier New";
  font-size: small;

}

/* Library Archive page */

.box-archive{
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the start (top) of the container */
  height: 80vh; 
  
}


#my-library-archive-bg-box{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  max-width: 600px; 
  /* height: auto; 
  /* padding: 20px;  */
}

.my-library-archive-books-box:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: rgba(66, 180, 0, 0.7); 
}


.my-library-archive-books-box{
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between;

  width: 100%; 
  max-width: 70%;
  background-color: #707070;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border: none; 
  border-radius: 5px;
  color: white;
  padding: 2px;
  margin: 3px 0; 
  font-family: "Courier New";
  font-size: small;


}

.body-library-archive{
  font-family: "Courier New";
  color: rgb(221, 221, 221);
}

.archive-h1{
  margin-top: 20px;
  text-align: center;
}

#show-more-button{
  max-width: 100%;
  background-color: #242424;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border: none; 
  border-radius: 5px;
  color: white;
  padding: 2px;
  margin: 10px auto; 
  font-family: "Courier New";
  font-size: small;
  display: block;
}

#show-more-button:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: rgba(66, 180, 0, 0.7); 
}

.return-button {
  /* max-width: 70%; */
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #181818; 
  color: white; 
  padding: 2px 5px; 
  border-radius: 5px;
  font-size: small;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);

}

.return-button:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: rgba(231, 4, 4, 0.7);
}

.counter-box {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #181818; 
  color: #ffffff; 
  padding: 2px 5px; 
  border-radius: 5px; 
  font-size: small; 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.books-per-year {
  display: none;
  font-size: small;
}

.counter-box:hover .books-per-year {
  display: block;
}

#search-input{
  width: 100%; 
  max-width: 70%;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border: none; 
  border-radius: 5px;
  padding: 2px;
  margin: 3px 0; 
  font-family: "Courier New";
  font-size: small;
  margin-left: 40px;
  margin-bottom: 28px;
}

.delete-button{
  border: none; 
  border-radius: 5px;
  font-family: "Courier New";
  font-size: small;
  background-color: rgba(155, 2, 2, 0.7);
  color: #ffffff;
}

.delete-button:hover{
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 0, 0, 0.7);
}

.book-info {
  flex-grow: 1;
}

